<mat-grid-list cols="2" rowHeight="400px" gutterSize="5px">
  <mat-grid-tile
    *ngFor="let i of response$ | async"
    [colspan]="1"
    [rowspan]="1"
  >
    <div>
      <strong>{{ i.name }}</strong>
      <mat-griid-content *ngFor="let s of i.site">
        <p
          matTooltip="{{ s.description }}"
          matTooltipPosition="below"
          matTooltipClass="my-custom-tooltip"
        >
          <a href="{{ s.url_address }}" target="_blank">{{ s.title }}</a>
        </p>
      </mat-griid-content>
    </div>
  </mat-grid-tile>
</mat-grid-list>
